// Intergage Logos
//
// As Inline SVGs

.intergage-i {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  background-image: escape-svg($intergage-i);
  cursor: pointer;
  @include transition(transform 0.8s ease-in-out);
  &:hover {
    transform: rotate(-360deg);
  }
}